body
{
    margin: 0px;
    padding: 0%;
    background-color: aquamarine;
    background-image: url(abesimg.png); 
    background-repeat: no-repeat;
    background-position: top left;
    
}
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        font-weight: 300;
        font-style: oblique;
        /*font-display: block; */
        color: bisque;
        text-align: right;
        text-decoration: aqua;
        text-transform: capitalize;
        text-shadow: 1px 0px #f04;
    }
    span{
        color: rgb(29, 29, 82);size: 30px;
    }
    #para{
        color: blueviolet;
        display: inline;
    }
    ul{
        list-style: none;
    }
    ul li{
        float: left; margin: 30px;
    }